// =============================================================================
//
//  Components » Forms
//
// =============================================================================

$form-spacing = baseSize($global-margin);

// input properties
$input-font-size = baseSize($base-font-size - 2px);
$input-font-weight = 300;
$input-bg-color = white;
$input-line-height = 1.5;

$input-border-color = lighten($color-soft, 3%);
$input-border-style = solid;
$input-border-width = 1px;
$input-box-shadow = inset 0 1px 4px black(0.07);

$input-radius = $global-radius;
$input-rounded = $global-rounded;

// input disabled
$input-disabled-bg = #eeeeee;

// input focus
$input-focus-bg-color = white;
$input-focus-border-color = $color-medium-soft;
$input-focus-bshadow = 0 0 0 rgba($color-primary, 0), $input-box-shadow;

// fieldset style
$fieldset-border-style = solid;
$fieldset-border-width = 1px;
$fieldset-border-color = #dddddd;
$fieldset-padding = baseSize($global-margin);
$fieldset-margin = baseSize($global-margin) 0;

// legends style
$legend-bg = white;
$legend-font-weight = bold;
$legend-padding = 0 baseSize(3px);

// prefix e postfix
$input-fix-bg = darken(white, 5%);
$input-fix-border-color = darken(white, 20%);
$input-fix-border-size = 1px;
$input-fix-border-type = solid;
$input-fix-overflow = hidden;
$input-fix-font-color = #333333;
$input-fix-font-color-alt = white;

// =============================================================================
//  Mixins
// =============================================================================

form-base($radius = true) {
  width: 100%;
  font-family: $font-family;
  font-size: $input-font-size;
  font-weight: $input-font-weight;
  color: $input-color;
  placeholder($input-color);
  line-height: $input-line-height;
  background-color: $input-bg-color;
  border: $input-border-width $input-border-style $input-border-color;
  box-shadow($input-box-shadow);
  padding: $form-spacing / 2;
  margin: 0;

  &:focus {
    background: $input-focus-bg-color;
    border-color: $input-focus-border-color;
    box-shadow($input-focus-bshadow);
    outline: none;
  }
  &[disabled] {
    background-color: $input-disabled-bg;
  }
  // We can control how much button radius us used.
  if $radius == true {
    border-radius($input-radius);
  }
  if $radius == false {
    border-radius(0);
  }
  if $radius == "rounded" {
    border-radius($btn-rounded);
    padding: $form-spacing / 2 $form-spacing;
  }
}

form-label($alignment = left) {
  if $alignment == left {
    text-align: left;
  }
  if $alignment == right {
    text-align: right;
  }
  if $alignment == center {
    text-align: center;
  }
}

fieldset() {
  border: $fieldset-border-style $fieldset-border-width $fieldset-border-color;
  padding: $fieldset-padding;
  margin: $fieldset-margin;
  legend {
    font-weight: $legend-font-weight;
    background: $legend-bg;
    padding: $legend-padding;
    margin: 0;
    margin-left: baseSize(-3px);
  }
}

// =============================================================================
//  Classes
// =============================================================================

form .form-row {
  @extend $wrap;
}

form .form-row ~ .form-row {
  margin-top: $form-spacing / 2;
}

fieldset {
  fieldset();
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"] {
  form-base();
  height: baseSize(13px) + $form-spacing * 1.5;
}

textarea {
  form-base();
}

label {
  form-label();
  line-height: $form-spacing * 1.9;

  &.label-minor {
    display: block;
    line-height: $form-spacing;
    padding-bottom: $form-spacing / 2;
  }
  &.right {
    form-label(right);
  }
  &.center {
    form-label(center);
  }
}

// =============================================================================
//  Rounded & Noradius
// =============================================================================

input, textarea {
  &.noradius {
    form-base($radius: false);
  }
  &.rounded {
    form-base($radius: rounded);
  }
}

// ================================================================================================
//  Form Actions
// ================================================================================================

.form-actions {
  margin-top: $global-margin;

  [class*="btn"] {
    float: right;
    margin-left: $global-margin / 2;
  }
}
