// =============================================================================
//
//  Comps » Images
//
//  Contains the styles for the images components
//
// =============================================================================

.img {
	@extend $wrap;
}

.img-thumbnail {
	border: 3px solid white;
	@include box-shadow(0 2px 4px black(.2));
}

.img-rounded {
	@include border-radius($global-rounded);
}

.img-block {
	float: none;
	width: 100%;
}
